.navbar-mobile {
    background-color: #FFBA35;
}

@media only screen and (min-width:768px) {

    .navbar-desktop {
        background-color: #191919;
    }

    .navbar-desktop-store-icon {
        color: #FFBA35;
    }
    .navbar-button{
        color: #FFBA35;
    }
}

.navbar-icon {
    height: 40px;
}

.pokebiz-searchBar-mobile{
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    opacity: 90%;
}

.pokebiz-searchBar-mobile input{
    height: 10vh;
    background: none;
    width: 60%;
}
.pokebiz-searchBar-mobile button{
    height: 10vh;
    width: 20%;
}

.pokebiz-searchBar-mobile input::placeholder {
    font-style: italic;
    opacity: 70%;
}

.pokebiz-seachBar-Desktop{
    background: none;
}
