.container {
  background: linear-gradient(
    36deg,
    rgba(16, 20, 20, 0.9584034297312675) 0%,
    rgba(16, 20, 20, 1) 100%
  );
}

.bg-container {
  background: rgb(16, 20, 20);
  background: linear-gradient(
    36deg,
    rgba(16, 20, 20, 0.9584034297312675) 0%,
    rgba(16, 20, 20, 1) 100%
  );
}

.card-info {
  background: #3e3e3e;
}
/* Cards background color */
.electric-color {
  background-color: #ffba35;
}
.water-color {
  background-color: #3590ff;
}
.fire-color {
  background-color: #ff6135;
}
.normal-color {
  background-color: #e4e4e4;
}
.flying-color {
  background-color: #ffdf9e;
}
.grass-color {
  background-color: #6ddc4b;
}
.poison-color {
  background-color: #90419b;
}
.bug-color {
  background-color: #0f8010;
}
.ground-color {
  background-color: #9d6900;
}
.fairy-color {
  background-color: #ff84e4;
}

.picture-card-oneProduct {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card-img-top {
  height: 270px;
}

.attack-card {
  background-color: #0000003a;
}

.bottom-of-card {
  font-size: x-small;
}

.buttonColor {
  background-color: #ffba35;
  border: 2px solid orange;
}
