.allproduct-card-container{
    width: 380px;
}

.pokebiz-allProduct-container {
    margin-top: 52px;
}

@media only screen and (min-width: 768px) {
    .pokebiz-allProduct-container {
        margin-top: 80px;
    }
}
