/*GENERAL*/

.accueilBackground {
  background-color: black;
  margin-top: 62px; /*marge pour navbar*/
}

/*IMAGE ACCUEIL*/

.prez {
  background-image: url("./src/assets/648568.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;

  justify-content: center;
  align-items: center;
  background-position: center;
}

.buttonCatch {
  color: black;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  margin-top: 60%;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: #ffba35;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid orange;
  display: inline-block;
}

.buttonCatch:hover {
  color: #ffba35;
  background-color: black;
}

/*CARROUSEL OFFRE SPECIALE*/

.specialOffer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: "DM Sans", sans-serif;
  transition: background 0.4s ease-in;
  color: white;
}

input[type="radio"] {
  display: none;
}

.cardOffer {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.carrouselOffer {
  width: 300px;
  height: 350px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.cardOffer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
}

#item-1:checked ~ .cards #offre-3,
#item-2:checked ~ .cards #offre-1,
#item-3:checked ~ .cards #offre-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #offre-2,
#item-2:checked ~ .cards #offre-3,
#item-3:checked ~ .cards #offre-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #offre-1,
#item-2:checked ~ .cards #offre-2,
#item-3:checked ~ .cards #offre-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#achat {
  color: black;
  font-size: 16px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;

  background-color: #ffba35;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid #ffba35;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#achat:hover {
  color: #ffba35;
  background-color: black;
}

.priceOffer {
  display: flex;
  justify-content: space-between;
}

.oldPrice {
  text-decoration: line-through;
}

/*CHARTE CONFIDENTIALITE*/

.whyUs {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.whyUsEx h2 {
  text-align: center;
  color: #ffba35;
}

.logoWhyUs {
  height: 60px;
  width: 60px;
}

.categoryWhyUs {
  width: 110px;
  color: white;
  background-color: #414447;
  border-radius: 5px;
}

/*SOCIAL MEDIA*/

.socialMedia {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.socialMediaEx h2 {
  text-align: center;
  color: #ffba35;
}

.logoSocialMedia {
  height: 60px;
  width: 60px;
}
